h1 {
    color: lightblue;
}
body {
    background-color: black;
}
p {
    color: white;
}
ul {
    color: white;
}
ol {
    color: white;
}
table {
    color: white;
}
a:link {
    color: black;
}

a:visited {
    color: aquamarine;
}
.MyClass {
    color:cadetblue;
}
.Class2 {
    font-size: 5em;
    
}