h1 {
    color: lightblue;
}
body {
    background-color: black;
}
p, ul, ol, table {
    color: white;
}
a:link {
    color: black;
    text-align: center;
}
a:visited {
    color: aquamarine;
}
.MyClass {
    color:cadetblue;
}
.Class2 {
    font-size: 5em;
    text-shadow: 4px 4px 5px cadetblue;
}
.Class3 {
    text-shadow: 5px 5px 5px cadetblue;
}
.class4 {
    text-shadow: 1px 1px 1px red;
    letter-spacing: 50px;
    transform: capitalize;
    font-weight: bold;
}
.class5 {
    max-width: 10em;
    max-height: 5em;
}
.c6 {
    max-width: 7em;
    max-height: 5em;
}


